<ion-header>
  <ion-navbar color="bg-navbar">
    <ion-title>笔芯</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="openSendBottleModal()">
        <ion-icon name="ios-add-circle-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

  <div class="home-pickbottle" padding>
    <button ion-button round color="main" (click)="pickUpBottle()">
      <img src="assets/imgs/pick.png" alt=""> 捞一个</button>
  </div>

  <div class="home-tab-nav">
    <div [ngClass]="{'active' : tabIndex == 0}" (click)="checkTab(0)">捞的瓶子</div>
    <div [ngClass]="{'active' : tabIndex == 1}" (click)="checkTab(1)">扔的瓶子</div>
  </div>

  <div class="home-tab-content" [ngSwitch]="tabIndex">
    <!-- 捞的 -->
    <ion-list no-lines *ngSwitchCase="0">
      <ion-item-sliding>
        <ion-item (click)="toChatRoom()">
          <ion-avatar item-start>
            <ion-img src="assets/imgs/bottle.png"></ion-img>
          </ion-avatar>
          <h2>来自
            <span>陈杰</span>的漂流瓶</h2>
          <p>你还好吗？</p>
          <ion-note item-end>今天</ion-note>
        </ion-item>
        <ion-item-options side="right">
          <button ion-button color="primary" (click)="showBottleInfo({content:'我是漂流瓶内容'})">
            <ion-icon name="text"></ion-icon>
            信息
          </button>
          <button ion-button color="danger" (click)="deleteBottle({senderName:'龙傲天'})">
            <ion-icon name="mail"></ion-icon>
            删除
          </button>
        </ion-item-options>
      </ion-item-sliding>
      <ion-item-sliding>
        <ion-item (click)="toChatRoom()">
          <ion-avatar item-start>
            <ion-img src="assets/imgs/bottle.png"></ion-img>
          </ion-avatar>
          <h2>来自
            <span>米饭</span>的漂流瓶</h2>
          <p>很高心认识你，胖友</p>
          <ion-note item-end>昨天</ion-note>
        </ion-item>
        <ion-item-options side="right">
          <button ion-button color="primary" (click)="showBottleInfo({content:'我是漂流瓶内容'})">
            <ion-icon name="text"></ion-icon>
            信息
          </button>
          <button ion-button color="danger" (click)="deleteBottle({senderName:'龙傲天'})">
            <ion-icon name="mail"></ion-icon>
            删除
          </button>
        </ion-item-options>
      </ion-item-sliding>
      <ion-item-sliding>
        <ion-item (click)="toChatRoom()">
          <ion-avatar item-start>
            <ion-img src="assets/imgs/bottle.png"></ion-img>
          </ion-avatar>
          <h2>来自
            <span>超神、幻想</span>的漂流瓶</h2>
          <p>Nice to meet you，大兄弟</p>
          <ion-note item-end>1月11日</ion-note>
        </ion-item>
        <ion-item-options side="right">
          <button ion-button color="primary" (click)="showBottleInfo({content:'我是漂流瓶内容'})">
            <ion-icon name="text"></ion-icon>
            信息
          </button>
          <button ion-button color="danger" (click)="deleteBottle({senderName:'龙傲天'})">
            <ion-icon name="mail"></ion-icon>
            删除
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>

    <!-- 扔的 -->
    <ion-list no-lines *ngSwitchCase="1">
      <ion-item-sliding *ngFor="let item of sendBottles">
        <ion-item (click)="showBottleInfo(item)">
          <ion-avatar item-start>
            <ion-img src="assets/imgs/bottle.png"></ion-img>
          </ion-avatar>
          <!-- <h2>来自 -->
          <!-- <span>{{陈杰}}</span>的漂流瓶</h2> -->
          <p>{{item.content}}</p>
          <ion-note item-end>今天</ion-note>
        </ion-item>
        <ion-item-options side="right">
          <button ion-button color="danger" (click)="deleteBottle(item)">
            <ion-icon name="mail"></ion-icon>
            删除
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </div>

  <!-- 捞瓶子弹出层 -->
  <div *ngIf="isPickUp" class="home-layer" padding>
    <!-- <div class="home-layer" padding> -->
    <div class="home-layer-box">
      <div class="home-layer-box-avatar">
        <img src="assets/imgs/bottle.png" alt="">
      </div>
      <div class="home-layer-box-user">
        捞到了
        <span *ngIf="bottle.senderName">来自{{bottle.senderName}}的</span>漂流瓶
      </div>
      <div class="home-layer-box-content">
        {{bottle.content}}
      </div>
      <div class="home-layer-box-buttons">
        <button ion-button round color="light" (click)="closeLayer()">
          <!-- <img src="assets/imgs/sea.png" alt="">  -->
          扔回海里</button>
        <div></div>
        <button ion-button round color="main" (click)="replyBottle()">
          <!-- <img src="assets/imgs/look.png" alt="">  -->
          打开看看</button>
      </div>
    </div>
    <div class="home-layer-close" (click)="closeLayer()">
      <span class="iconfont icon-delete"></span>
      <p>关闭</p>
    </div>
    <div class="home-layer-mask"></div>
  </div>
</ion-content>
